@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@1&f[]=satoshi@1&f[]=jet-brains-mono@1&display=swap");

:root {
  --yellow: rgb(233, 229, 206);
  --green: rgb(104, 116, 104);
  --orange: #ff8e4d;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Satoshi", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--yellow);
}

h1,
h2,
h3,
h4 {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 550;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 500px;
  margin: 0 auto;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.calculator {
  display: grid;
  gap: 2%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". . . ."
    "clear plusminus percent divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimal equal";
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zero;
}

.decimal {
  grid-area: decimal;
}

.calc-screen {
  font-family: "JetBrains Mono", sans-serif;
  /* font-family: "Clash Grotesk", sans-serif; */
  font-weight: 500;
  background-color: var(--green);
  border-radius: 1rem;
  width: 100%;
  padding: 0.5rem 1.5rem;
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 3rem;
  aspect-ratio: 4 / 1;
  grid-column: span 4;
}

.button {
  border: none;
  background-color: white;
  font-size: 2.5rem;
  font-weight: 400;
  aspect-ratio: 1/1;
  border-radius: 100rem;
}

#button-zero {
  grid-column: span 2;
  aspect-ratio: 0;
}

.button-color {
  border: none;
  background-color: var(--orange);
  font-size: 3rem;
  font-weight: 300;
  color: white;
  aspect-ratio: 1/1;
  border-radius: 100rem;
}
